* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
  color: white;
}

body {
  background-color: black;
}
.header {
  z-index: 0;
  position: relative;
  color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(50deg);
  background-color: #354467;
}

.About-me {
  margin: 20px;
  transform: skewY(-50deg);
  width: 280px;
  height: 372px;

  background-color: transparent;
  perspective: 1000px;
}

.About-me-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.About-me:hover .About-me-inner {
  transform: rotateY(180deg);
}

.About-me-front,
.About-me-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.About-me-front {
  box-shadow: 0 0 10px 4px #b0aeae;
  min-width: 280px;
  background-size: contain;
  background-image: url(./assets/me.jpg);
  background-color: #acaaaa;
  color: black;
}

.About-me-back {
  box-shadow: 0 0 10px 4px #b0aeae;
  background-color: rgb(22, 22, 22);
  color: white;
  transform: rotateY(180deg);
}

.About-me-back p {
  margin-top: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #354467;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info p {
  text-align: center;
  font-size: 1.3rem;
  margin: 10px;
}

.contact-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid black;
  background-color: rgb(22, 22, 22);
  color: #536ba2;
  transition: transform 1s;
  box-shadow: 0 0 10px 4px #b0aeae;
}

.project-card img {
  width: 100%;
}

.project-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.project-card-container p {
  margin-bottom: 10px;
}

.lines {
  z-index: -2;
  position: absolute;
  width: 5px;
  top: 65%;
}

.progress-bar {
  background: #071708;
  height: 0%;
  box-shadow: 0 0 10px 4px #536ba2;
}

#no1 {
  right: 50%;
}

#no2 {
  transform: skewY(-50deg);
  right: 25%;
}

#no3 {
  right: 75%;
  transform: skewY(50deg);
}

.active {
  transform: scale(1.004);
  box-shadow: 0 0 10px 4px #536ba2;
}

h1 {
  z-index: 2;
  color: #cfcfcf;
  text-shadow: #000000 1px 0 15px;
  margin-bottom: 10px;
}

.About-me-back h1 {
  color: #536ba2;
}

h2 {
  font-size: 1.7rem;
  text-shadow: #071708 1px 0 10px;
  margin-bottom: 5px;
}

.About-me-front h3 {
  margin-top: 0;
}

h3 {
  margin-top: 3rem;
  font-size: 1.4rem;
}

svg {
  margin: 0 5px;
}

a {
  text-decoration: none;
}

#card a:last-child svg {
  fill: white;
  border-radius: 4px;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.icons {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

#card {
  bottom: 10px;
  right: calc(50% - 53px);
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a svg {
  fill: white;
  margin-top: 10px;
}

.contact-info a {
  display: flex;
  text-decoration: underline;
  color: white;
}

.contact-info a + a > p {
  font-size: 1rem;
}

h1 span {
  margin-top: 15px;
  position: relative;
  top: 4px;
  display: inline-block;
  animation: bounce 0.8s ease infinite alternate;
}
@keyframes bounce {
  30%,
  100% {
    top: -4px;
  }
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
@media screen and (min-width: 500px) {
  .lines,
  .progress-bar {
    visibility: hidden;
    display: none;
  }

  .About-me {
    margin: 20px;
    width: 550px;
    height: 350px;
  }
  .About-me-front {
    background-size: cover;
    background-position: 0 -100px;
  }
}
@media screen and (min-width: 1024px) {
  #card {  right: calc(50% - 80px);}
  #card svg {
    width: 40px;
    height: 40px;
  }
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .project-card {
    width: 40%;
  }
  .lines,
  .progress-bar {
    visibility: hidden;
    display: none;
  }
  body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }
  .About-me {
    margin: 20px;
    width: 648px;
    height: 400px;
    transform: skewY(-20deg);
  }
  .About-me-front {
    background-size: cover;
    background-position: 0 -180px;
  }

  h1 {
    font-size: 3rem;
  }
  .header {
    transform: skewY(20deg);
  }

  h3 {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .project-card {
    width: 15%;
  }
}
